<span style="color : Aqua">
  <div style="background-color : Violet">
  <span style="font : italic 900 30pt 'ヒラギノ丸ゴ ProN W4'" >けーじばん。</span>
  </span>
</div>


<div style="margin-left : 1150px">
  <%= link_to 'rooms', rooms_path %>
  <%= link_to 'users', users_path %>
  <%= link_to "signin", sign_in_path %>
</div>
