<span style="color : Aqua">
  <span style="font : italic 900 30pt 'ヒラギノ丸ゴ ProN W4'" >けーじばん。</span>
  </span>

<div style="margin-left : 1150px">
  <%= link_to 'rooms', rooms_path %>
  <%= link_to 'users', users_path %>
  <%= link_to "signin", sign_in_path %>
</div>
